.game-area {
    flex: 0 0 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid {
    width: min(100%, 80vh);
    height: min(100%, 80vh);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.game-over {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-panel {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px;
    height: 40%;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: #f8f9fa;
}